@model PeopleManager.Model.Person

@{
	ViewData["Title"] = "Create Person";
}

<form method="post">
	<partial name="CreateEditPartial" model="Model"/>

	<button class="btn btn-primary" type="submit">Create</button>
</form>