@model PeopleManager.Model.Person

@{
	ViewData["Title"] = "Delete Person";
}

<h1>Delete Person</h1>

<form method="post">
	<p>Are you sure you want to delete @Model.FirstName @Model.LastName?</p>
	<a class="btn btn-light" asp-action="Index">No</a>
	<button class="btn btn-danger" type="submit">Yes</button>
</form>