@model PeopleManager.Model.Person

@{
	ViewData["Title"] = "Edit Person";
}

<form method="post">
	<partial name="CreateEditPartial" model="Model" />

	<button class="btn btn-primary" type="submit">Save</button>
</form>